<p>
    Dear <b><<Name>></b>,
    <br><br>
    Your Booking has been cancelled Successfully for the Homestay <b><<HomestayName>></b>.
    <br><h3><b><u>Cancellation Details</u></b></h3>
    <br><br>
    Cancellation Date : <b><<CancelDate>></b><br />
    Cancel Reason : <b><<CancelReason>><br /></b>
    Was Booked From :<b><<TourFrom>></b><br />
    Was Booked To : <b><<TourTo>></b><br />
    Number of person : <b><<TotalPerson>></b><br />
    Earlier Payment Amount : <b>INR <<Payment>></b><br />
    Calculated Refund Amount : <b>INR <<Refund>></b><br />
    <br />
    <br />
    <span style="color:blue">Your will recieve your refunded amount within 10 working days.</span>
    <br />
    <br />
    Kalimpong District Homestay Tourism Co-operative Society Ltd.
    Kalimpong, West Bengal, India.<br />
    (This is a system generated email, please do not reply)
</p>