<p>
    Dear <b><<Name>></b>,
    <br><br>
    Your Booking is Confirmed in the <b><<HomestayName>></b>.
    <br><h3><b><u>Tour Details</u></b></h3>
    <br><br>
    Booking Date : <b><<BookingDate>></b><br />
    Booking From :<b><<TourFrom>></b><br />
    Booking To :  <b><<TourTo>></b><br />
    Number of person : <b><<TotalPerson>></b><br />
    Room Number : <b><<RoomNo>></b><br />
    Total Amount : <b>INR <<Amount>></b><br />
    Payment Status : <span style="color:red">Pending</span>
    <br />
    <br />
    <br />
    <br />
    Kalimpong District Homestay Tourism Co-operative Society Ltd.
    Kalimpong, West Bengal, India.<br />
    (This is a system generated email, please do not reply)
</p>