<p>
    Dear Society,
    <br><br>
    Please find below homestay confirmed booking information for the Homestay <b><<HomestayName>></b>.
    <br><h3><b><u>Booking confirmation</u></b></h3>
    <br><br>
    Name : <b><<Name>></b><br />
    Contact Number: <b><<Mobile>></b><br />
    Booking Date: <b><<Booking_Date>></b><br />
    Booking From: <b><<TourFrom>></b><br />
    Booking To:  <b><<TourTo>></b><br />
    Number of person : <b><<TotalPerson>></b><br />
    Payment Received:<b><<Total_Cost>></b>
    Payment Status : <span style="color:red">Pending</span>
    <br />
    <br />
    <br />
    <br />
    Kalimpong District Homestay Tourism Co-operative Society Ltd.
    Kalimpong, West Bengal, India
    (This is a system generated email, please do not reply)
</p>