<p>
    Dear <b><<HomestayName>></b>,
    <br><br>
    Please find below Homestay Cancellation information.
    <br><h3><b><u>Booking confirmation</u></b></h3>
    <br><br>
    Name : <b><<Name>></b><br />
    Contact Number : <b><<Mobile>></b><br />
    Cancelled Date : <b><<CancelDate>></b><br />
    Cancel Reason : <b><<Reason>></b><br />
    Was Booked From : <b><<TourFrom>></b><br />
    Was Booked To : <b><<TourTo>></b><br />
    Number of person : <b><<TotalPerson>></b><br />
    Earlier Payment Received :<b>INR <<Total_Cost>></b><br />
    Calculated Refund Amount :<b>INR <<Refund>></b>
    <br />
    <br />
    <br />
    <br />
    Kalimpong District Homestay Tourism Co-operative Society Ltd.
    Kalimpong, West Bengal, India
    (This is a system generated email, please do not reply)
</p>