<html>
<head>
    <title></title>
</head>
<body>
    <p>Dear <<Name>>,</p>
    <p>&nbsp;</p>
    <p>We have received a request to reset your user account password.</p>
    <p>Simply click below to reset your password.</p>

    <br />
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="left">
                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="<<ResetUrl>>" style="background-color: #1608eaf5;border-top: 10px solid #1608eaf5;border-right: 18px solid #1608eaf5;border-bottom: 10px solid #1608eaf5;border-left: 18px solid #1608eaf5;color: white;text-decoration: none;font-family: sans-serif;font-size: 105%;" class="button" target="_blank">Reset your password</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br>
    Please note that this link will expire 24 hours after this email is sent.

    <br><br>
    Thank You and Best Regards,<br>
    Kalimpong Team<br><br><br><p>&nbsp;</p>
</body>
</html>