<p>
    Dear Society,
    <br><br>
    Please find below package Cancellation information..
    <br><h3><b><u>Cancellation Details</u></b></h3>
    <br><br>
    Name : <b><<Name>></b><br />
    Contact Number : <b><<Mobile>></b><br />
    Package Name : <b><<TourName>></b><br />
    Cancelled Date : <b><<Canceldate>></b><br />
    Cancel Reason : <b><<CancelReason>></b><br />
    Was Booked From : <b><<TourFrom>></b><br />
    Was Booked To : <b><<TourTo>></b><br />
    Number of person : <b><<TotalPerson>></b><br />
    Earlier Payment Received : <b>INR <<Payment>></b><br />
    Calculated Refund Amount : <b>INR <<Refund>></b>

    <br /><br /><br /><br />
    Kalimpong District Homestay Tourism Co-operative Society Ltd.
    Kalimpong, West Bengal, India . <br />
    (This is a system generated email, please do not reply)
</p>