<p>
    Dear Society,
    <br><br>
    Please find below confirmed package booking information..
    <br><h3><b><u>Booking confirmation</u></b></h3>
    <br><br>
    Name : <b><<Name>></b><br />
    Contact Number : <b><<Mobile>></b><br />
    Package Name : <b><<TourName>></b><br />
    Booking Date : <b><<BookingDate>></b><br />
    Booking From : <b><<TourFrom>></b><br />
    Booking To : <b><<TourTo>></b><br />
    Number of person : <b><<TotalPerson>></b><br />
    Payment Received : <b><<PaymentAmt>></b><br />
    Payment Status : <span style="color:red">Pending</span>
    <br /><br /><br /><br />
    Kalimpong District Homestay Tourism Co-operative Society Ltd.
    Kalimpong, West Bengal, India . <br />
    (This is a system generated email, please do not reply)
</p>