<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="homestay"><a routerLink="/mamber-with-us" class="footer-book">Member with Us</a><p>For Homestay Owners only</p></div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="footer-menu">
          <h2> Quick Links  </h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#prop">Properties  </a></li>
            <li><a href="/notice-list">Notice</a></li>
            <li><a href="/tender-list">Tender</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="about-footer">
          <h2>Contact Us</h2>
          <ul>
            <li>
              <i class="fas fa-map-marker-alt"></i> :
              <p>
                lOREM IPSUM DSFDFA ASFFAF
                ASFAS FAS FAFA  GDS - 7554993
              </p>
            </li>
            <li><i class="fas fa-paper-plane"></i> : info@support.com</li>
            <li><i class="fas fa-phone-alt"></i> :+1800 8888 9999</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copy_right"> Copyright © 2020-21  Project  All Right Reserved.</div>
</footer>
