<!--<p>notice-list works!</p>-->
<!-- header -->
<app-header></app-header>
<!-- header End -->
<div id="booking" class="booking-section">
  <div class="container" style="height:50px">
    &nbsp;
  </div>
</div>
<main>
  <section class="features">
    <div>
      <form [formGroup]="resetForm" novalidate>
        <div style="max-width:500px; margin:0 auto">
          <div class="modal-content" style="border:none">
            <h2 class="section-header-two text-center" id="staticBackdropLabel">Reset Password</h2>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <!--<div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Password</b><span style="color:red">*</span></label>
                    <div class="col-sm-12">
                      <input type="text" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12"><b>Retype Password</b><span style="color:red">*</span></div>
                    <div class="col-sm-12">
                      <input type="password" class="form-control" formControlName="rePassword" (change)="check()" [ngClass]="{ 'is-invalid': submitted && f.rePassword.errors }">
                      <div *ngIf="submitted && f.rePassword.errors" class="invalid-feedback">
                        <div *ngIf="f.rePassword.errors.required">Retype Password is required</div>
                      </div>
                    </div>
                  </div>-->
                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Password</b><span style="color:red">*</span></label>
                    <div class="col-sm-12">
                      <input class="form-control" formControlName="password" type="password" />
                    </div>
                  </div>
                  <!--<div *ngIf="(submitted||f.password.touched) && f.password.invalid" class="error-msg">
                    <div *ngIf="f.password.errors.required"> password  is required</div>
                    <div *ngIf="f.password.errors.minlength">
                      minimum of 6 characters required
                    </div>
                  </div>-->
                  <!--<div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.password">
                      <div style="color:red"class="error-message" *ngIf="resetForm.get('password').hasError(error.type) && (resetForm.get('password').dirty || resetForm.get('password').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>-->

                  <div class="form-group row">
                    <label class="col-sm-12 col-form-label"><b>Confirm Password</b><span style="color:red">*</span></label>
                    <div class="col-sm-12">
                      <input class="form-control" formControlName="confirmpassword" type="password" />
                    </div>
                  </div>
                  <!--<div *ngIf="(submitted||f.confirmpassword.touched) && f.confirmpassword.invalid" class="error-msg">
                    <div *ngIf="f.confirmpassword.errors.required"> confirm password  is required</div>
                    <div *ngIf="f.confirmpassword.errors.minlength">
                      minimum of 6 characters required
                    </div>
                  </div>
                  <div class="error-msg" *ngIf="f.errors?.mismatch && (f.controls['confirmpassword'].required || f.controls['confirmpassword'].touched)">
                    Passwords don't match.
                  </div>-->
                  <!--<div class="error-messages">
                    <ng-container *ngFor="let error of error_messages.confirmpassword">
                      <div style="color:red" class="error-message" *ngIf="resetForm.get('confirmpassword').hasError(error.type) && (resetForm.get('confirmpassword').dirty || resetForm.get('confirmpassword').touched)">
                        {{ error.message }}
                      </div>
                    </ng-container>
                  </div>-->
                  <!--<pre style="color:red">
                     {{ resetForm.errors | json }}
                  </pre>-->
                </div>
              </div>
            </div>
            <div class="footer-jo">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group row">
                    <div class="col-sm-12"><button type="button" class="btn btn-primary" (click)="submit()">Submit</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
             size="medium" color="#fff" type="ball-clip-rotate-pulse" [fullScreen]="true">
</ngx-spinner>
<!-- Footer -->
<app-footer></app-footer>
<!-- Footer End -->
