<!-- header -->
<app-header></app-header>
<!-- header End -->
<div id="booking" class="booking-section">
  <div class="container" style="height:50px">
    &nbsp;
  </div>
</div>
<main>
  <section class="features">
    <div class="container">
      <h2 class="section-header-two text-center">Register</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="modal-content" style="padding:0px; border:none;">
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Full Name<span style="color:red">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="Fname" formControlName="GuName" [ngClass]="{ 'is-invalid': submitted && f.GuName.errors }">
                    <div *ngIf="submitted && f.GuName.errors" class="invalid-feedback">
                      <div *ngIf="f.GuName.errors.required">Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Mobile Number<span style="color:red">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="mobile" formControlName="GuMobileNo" [ngClass]="{ 'is-invalid': submitted && f.GuMobileNo.errors }">
                    <div *ngIf="submitted && f.GuMobileNo.errors" class="invalid-feedback">
                      <div *ngIf="f.GuMobileNo.errors.required">Mobile Number is required</div>
                      <div *ngIf="f.GuMobileNo.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Email Address<span style="color:red">*</span></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="email" formControlName="GuEmailId" [ngClass]="{ 'is-invalid': submitted && f.GuEmailId.errors }">
                    <div *ngIf="submitted && f.GuEmailId.errors" class="invalid-feedback">
                      <div *ngIf="f.GuEmailId.errors.required">Email is required</div>
                      <div *ngIf="f.GuEmailId.errors.email">Please, Enter a valid Email.</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Address 1<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="Address" formControlName="GuAddress1" [ngClass]="{ 'is-invalid': submitted && f.GuAddress1.errors }">
                    <div *ngIf="submitted && f.GuAddress1.errors" class="invalid-feedback">
                      <div *ngIf="f.GuAddress1.errors.required">Address1 is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Address 2</div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="Address" formControlName="GuAddress2">
                    <!--<div *ngIf="submitted && f.GuAddress2.errors" class="invalid-feedback">
                      <div *ngIf="f.GuAddress2.errors.required">Address2 is required</div>
                    </div>-->
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Address 3</div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="Address" formControlName="GuAddress3">
                    <!--<div *ngIf="submitted && f.GuAddress3.errors" class="invalid-feedback">
                      <div *ngIf="f.GuAddress3.errors.required">Address3 is required</div>
                    </div>-->
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Country<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <select class="form-control" (change)="onChangeCountry($event.target.value)" formControlName="GuCountry" ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.GuCountry.errors }">
                      <option value="">--Select--</option>
                      <option *ngFor="let country of countries"  [value]="country.countryId">{{country.countryName}}</option>
                    </select>
                    <div *ngIf="submitted && f.GuCountry.errors" class="invalid-feedback">
                      <div *ngIf="f.GuCountry.errors.required">Country is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">State<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <select class="form-control" (change)="onChange($event.target.value)" formControlName="GuState" ng-required="true" [ngClass]="{ 'is-invalid': submitted && f.GuState.errors }">
                      <option value="">--Select--</option>
                      <option *ngFor="let state of states" [value]="state.stateId">{{state.stateName}}</option>
                    </select>
                    <div *ngIf="submitted && f.GuState.errors" class="invalid-feedback">
                      <div *ngIf="f.GuState.errors.required">State is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">City<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="City" formControlName="GuCity" [ngClass]="{ 'is-invalid': submitted && f.GuCity.errors }">
                    <div *ngIf="submitted && f.GuCity.errors" class="invalid-feedback">
                      <div *ngIf="f.GuCity.errors.required">City is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Pin Code<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword3" formControlName="GuPincode" [ngClass]="{ 'is-invalid': submitted && f.GuPincode.errors }">
                    <div *ngIf="submitted && f.GuPincode.errors" class="invalid-feedback">
                      <div *ngIf="f.GuPincode.errors.required">PinCode is required</div>
                      <!--<div *ngIf="f.GuPincode.errors.maxLength">Pincode Max length is 6 characters</div>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group row">
                  <div class="col-sm-3">Gender<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="GuSex" [ngClass]="{ 'is-invalid': submitted && f.GuSex.errors }">
                      <option value="">--Select--</option>
                      <option value="M">Male</option>
                      <option value="F">Female</option>
                    </select>
                    <div *ngIf="submitted && f.GuSex.errors" class="invalid-feedback">
                      <div *ngIf="f.GuSex.errors.required">Gender is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Date of Birth<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" id="inputPassword3" formControlName="GuDob" [ngClass]="{ 'is-invalid': submitted && f.GuDob.errors }">
                    <div *ngIf="submitted && f.GuDob.errors" class="invalid-feedback">
                      <div *ngIf="f.GuDob.errors.required">Date Of Birth is required</div>
                      <div *ngIf="f.GuDob.errors.pattern">Invalid Date of Birth Format.</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Identity Proof<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <select class="form-control" id="exampleFormControlSelect1" (change)="onChangeProof($event.target.value)" formControlName="GuIdentityProof"  [ngClass]="{ 'is-invalid': submitted && f.GuIdentityProof.errors }">
                      <option value="">--Select--</option>
                      <option value="AADHAAR">AADHAAR</option>
                      <option value="PAN">PAN</option>
                      <option value="DRIVING LISCENCE">DRIVING LISCENCE</option>
                      <option value="VOTER ID">VOTER ID</option>
                    </select>
                    <div *ngIf="submitted && f.GuIdentityProof.errors" class="invalid-feedback">
                      <div *ngIf="f.GuIdentityProof.errors.required">ID Proof is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row" *ngIf="!HideIdNum">
                  <div class="col-sm-3">Identity No<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" id="Identity" formControlName="GuIdentityNo" [ngClass]="{ 'is-invalid': submitted && f.GuIdentityNo.errors }">
                    <div *ngIf="submitted && f.GuIdentityNo.errors" class="invalid-feedback">
                      <div *ngIf="f.GuIdentityNo.errors.required">Identity Number is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Password<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="Password" formControlName="GuPassword" [ngClass]="{ 'is-invalid': submitted && f.GuPassword.errors }">
                    <div *ngIf="submitted && f.GuPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.GuPassword.errors.required">Password is required</div>
                      <div *ngIf="f.GuPassword.errors.minlength">Password must be at least 6 characters</div>
                      <div *ngIf="f.GuPassword.errors.maxLength">Password Max length is 20 characters</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Retype Password<span style="color:red">*</span></div>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" id="RePassword" formControlName="repassword" [ngClass]="{ 'is-invalid': submitted && f.repassword.errors }">
                    <div *ngIf="submitted && f.repassword.errors" class="invalid-feedback">
                      <div *ngIf="f.repassword.errors.required">Confirm Password is required</div>
                      <div *ngIf="f.repassword.errors.minlength">Confirm Password must be at least 6 characters</div>
                      <div *ngIf="f.repassword.errors.maxLength">Confirm Password Max length is 20 characters</div>
                      <div *ngIf="f.repassword.errors.ConfirmedValidator">Password and Confirm Password must be match.</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-3">Captcha<span style="color:red">*</span></div>
                  <div class="col-sm-5">
                    <div class="capcha-p"><img src="assets/captcha2.jfif" style="height:40px"><br /><a (click)="reCaptha()"><h3 class="first-txt"><b>{{captchacode}}</b></h3><i class="fas fa-sync-alt"></i></a></div>
                  </div>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputPassword3" formControlName="Captcha" [ngClass]="{ 'is-invalid': submitted && f.Captcha.errors }">
                    <div *ngIf="submitted && f.Captcha.errors" class="invalid-feedback">
                      <div *ngIf="f.Captcha.errors.required">Captcha is required</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-jo">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group row">
                  <div class="col-sm-4">
                    <h2>If Registered, <a (click)="login()" class="login">Login here</a></h2>
                  </div>
                  <div class="col-sm-8"><button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
             size="medium" color="#fff" type="ball-clip-rotate-pulse" [fullScreen]="true">
</ngx-spinner>
<!-- Footer -->
<app-footer></app-footer>
<!-- Footer End -->
