<app-header></app-header>
<!--Search List-->
<div id="booking" class="booking-section">
  <div class="container">
    <div class="row">
      <div class="booking-form">
        <div class="form-header">
          <h1>{{tourDetail.tourName}} Detail</h1>
        </div>

      </div>
    </div>
  </div>
</div>
<!--Search list End-->
<!--Homestay Details-->

<section class="features">
  <div class="container">
    <div class="row tracker-section">
      <div id="parentHorizontalTab-two">
        <div class="resp-tabs-container hor_1">
          <div [hidden]="tab1">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                  <div class="gt-stard-contain">
                    <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                      <!-- slides -->
                      <div class="carousel-inner">
                        <div class="carousel-item active" *ngIf="tourDetail.img1"> <img src="assets/tour/{{tourDetail.img1}}" alt="Hills"> </div>
                        <div class="carousel-item" *ngIf="tourDetail.img2"> <img src="assets/tour/{{tourDetail.img2}}" /> </div>
                        <div class="carousel-item" *ngIf="tourDetail.img3"> <img src="assets/tour/{{tourDetail.img3}}" /> </div>
                        <div class="carousel-item" *ngIf="tourDetail.img4"> <img src="assets/tour/{{tourDetail.img4}}" /> </div>
                        <div class="carousel-item" *ngIf="tourDetail.img5"> <img src="assets/tour/{{tourDetail.img5}}" /> </div>
                      </div>
                      <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
                      <ol class="carousel-indicators list-inline">
                        <li class="list-inline-item active" *ngIf="tourDetail.img1"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="assets/tour/{{tourDetail.img1}}" alt="Hills" class="img-fluid"> </a> </li>
                        <li class="list-inline-item" *ngIf="tourDetail.img2"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel">  <img src="assets/tour/{{tourDetail.img2}}" class="img-fluid" /> </a> </li>
                        <li class="list-inline-item" *ngIf="tourDetail.img3"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">  <img src="assets/tour/{{tourDetail.img3}}" class="img-fluid" /> </a> </li>
                        <li class="list-inline-item" *ngIf="tourDetail.img4"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="assets/tour/{{tourDetail.img4}}" class="img-fluid" /> </a> </li>
                        <li class="list-inline-item" *ngIf="tourDetail.img5"> <a id="carousel-selector-2" data-slide-to="4" data-target="#custCarousel"> <img src="assets/tour/{{tourDetail.img5}}" class="img-fluid" /> </a> </li>
                      </ol>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="ranabitan">
                  <h2>Destination : {{tourDetail.destination}}</h2>
                  <p><i class="fas fa-sun" aria-hidden="true"></i>&nbsp;&nbsp;{{tourDetail.destinationDay}}&nbsp;Day</p>
                  <p><i class="fas fa-cloud-moon" aria-hidden="true"></i>&nbsp;&nbsp;{{tourDetail.destinationNight}}&nbsp;Night</p>
                </div>
                <div class="ranabitan-two">
                  <h2>Cost(Per Head)</h2>
                  <p>{{tourDetail.cost}}</p>
                </div>
                <div class="ranabitan-two">
                  <h2>Amenities</h2>
                  <div class="service-point">
                    <ul *ngFor="let aminities of tourDetail.hsAmImg">
                      <li *ngIf="aminities" title="{{aminities.aminName}}"><img src="assets/{{aminities.amin}}"></li>
                    </ul>
                  </div>
                </div>
                <div class="ranabitan-two">
                  <h2>Subject</h2>
                  <p>{{tourDetail.subject}}</p>
                </div>
                <div class="ranabitan-two">
                  <h2>Description</h2>
                  <p>{{tourDetail.description}}</p>
                </div>
                <div class="ranabitan-two">
                  <h2>Contact Person Name</h2>
                  <p>{{tourDetail.contactPersonName}}</p>
                </div>
                <div class="ranabitan-two">
                  <h2>Contact Person Email</h2>
                  <p>{{tourDetail.contactPersonEmail}}</p>
                </div>
                <div class="ranabitan-two">
                  <h2>Contact Person Mobile</h2>
                  <p>{{tourDetail.contactPersonMobile}}</p>
                </div>
                <a href="javascript:void(0);" style="color:red" (click)="tourFile(tourDetail.tourId)">Tour File Download</a>
              </div>
            </div>
            <form [formGroup]="tourForm" novalidate>
              <div class="container" *ngIf="tourDateDetail">
                <div class="row">
                  <h2 class="section-header-two text-center">Package Slots</h2>
                  <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="table-responsive">
                      <div class="form-group">
                        <!--<label for="exampleInputEmail1"><b  style="text-align:center"><h2>Available Dates</h2></b></label>-->
                        <table class="table" width="100%">
                          <thead>
                            <tr>
                              <th><h5><b>From</b></h5></th>
                              <th><h5><b>To</b></h5></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let tour of tourDateDetail">
                              <td> {{tour.fromDt}}</td>
                              <td> {{tour.toDt}}</td>
                            </tr>

                          </tbody>
                        </table>
                        <div class="col-sm-12 col-md-12 col-lg-12 footer-jo " style="text-align:right">
                          <button type="button" class="btn btn-primary previous" (click)="back()">Back</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container" *ngIf="!tourDateDetail">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <label><span style="color:red">No Package Date Found</span></label>
                </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />


</section>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
             size="medium" color="#fff" type="ball-clip-rotate-pulse" [fullScreen]="true">
</ngx-spinner>
<!--Homestay Details End-->
<app-footer></app-footer>

