
<section class="features">
  <div class="container">
    <h2 class="section-header-two text-center">
      <a href="javascript:void(0);" (click)="back()">
        <i class="fa fa fa-backspace"
           aria-hidden="true"></i>
      </a>&nbsp;
      We Value Your FeedBack
    </h2>
    <div class="modal-content" style="padding:0px; border:none;">
      <div class="modal-body">
        <form [formGroup]="feedbackForm" class="needs-validation" method="post">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><h5><strong>Tour Name</strong></h5></label>
                <div class="col-sm-9">
                  <label class="form-control" id="Lname" size="40px" disabled><strong>{{Viewdetail.tourName}}</strong></label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><h5><strong>Destination</strong></h5></label>
                <div class="col-sm-9">
                  <label class="form-control" id="Lname" size="40px" disabled><strong>{{Viewdetail.destination}}</strong></label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><h5><strong>Booked From</strong></h5></label>
                <div class="col-sm-9">
                  <label class="form-control" id="Lname" size="40px" disabled><strong>{{Viewdetail.fromDt}}</strong></label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><h5><strong>Booked To</strong></h5></label>
                <div class="col-sm-9">
                  <label class="form-control" id="Lname" size="40px" disabled><strong>{{Viewdetail.toDt}}</strong></label>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3"><h5><strong>Booking Amount</strong></h5></div>
                <div class="col-sm-9">
                  <label class="form-control" id="Lname" size="40px" disabled><strong>{{Viewdetail.totalAmount}}</strong></label>
                </div>
              </div>
              <input type="hidden" formControlName="tourRatings" />
              <div class="form-group row">
                <div class="col-sm-3"><h5><strong>Feedback Rating</strong></h5></div>
                <div class="col-sm-9">
                  <ul class="list-inline rating-list"
                      *ngFor="let star of stars" style="display: inline-block">
                    <li style="width:80px" (click)="countStar(star)"
                        [ngClass]="{'selected': (star <= selectedValue)}">
                      <i class="fa fa-star fa-4x"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3"><h5><strong>Your Feedback</strong></h5></div>
                <div class="col-sm-9">
                  <textarea style="height:150px" class="form-control" formControlName="tourFeedback"></textarea>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="booking-form">
                    <div class="col-md-12">
                      <div class="form-btn" style="width:150px;margin:0 auto;float:none"> <button class="submit-btn" (click)="addFeedback(Viewdetail.tourBookingId)">SUBMIT</button> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
